$padding-xs: 0.25rem;
$padding-s: 0.5rem;
$padding-m: 1rem;
$padding-l: 1.5rem;
$padding-xl: 2rem;

/* New Margin */
$margin-xs: 0.25rem;
$margin-s: 0.5rem;
$margin-m: 1rem;
$margin-l: 1.5rem;
$margin-xl: 2rem;

/* Radiuses */
$rad-2: 0.125rem;
$rad-4: 0.25rem;
$rad-8: 0.5rem;
$rad-16: 1rem;
$rad-32: 2rem;
$rad-40: 2.5rem;
$rad-full: 50%;

/* Elevation */
$z-1: 1;
$z-2: 2;
$z-3: 3;
$z-4: 4;
$z-5: 5;

/* Colors */
$color-dark-bg: #0c1015;
$color-dark-fg: #1c232f;

$color-text: #b6bcc5;
$color-text-secondary: #9b9ea2;

$color-accent-900: #d85100;
$color-accent-800: #e26a00;
$color-accent-700: #e87a00;
$color-accent-600: #ee8902;
$color-accent-500: #f29404;
$color-accent-400: #f3a327;
$color-accent-300: #f5b44d;
$color-accent-200: #f8c97f;
$color-accent-100: #fbdeb2;
$color-accent-50: #fdf2e0;

$color-success-900: #008f00;
$color-success-800: #00b200;
$color-success-700: #34c700;
$color-success-600: #55dc00;
$color-success-500: #68ee02;
$color-success-400: #85f248;
$color-success-300: #a1f671;
$color-success-200: #bff99e;
$color-success-100: #dafbc5;
$color-success-50: #f0fee8;

$color-error-500: #d4364d;

$color-white: #fff;
$color-black: #000;

$color-grey-50: #f9f9f9;
$color-grey-100: #f3f3f4;
$color-grey-200: #e1e1e3;
$color-grey-300: #cecfd2;
$color-grey-500: #85868f;

/* Primary font */

$font-primary: "Rubik", "Arial", sans-serif;

$fs-xs: 10px;
$fs-s: 12px;
$fs-m: 16px;
$fs-l: 25px;
$fs-xl: 30px;
