@use "../../styles/theme.scss" as *;

$nav-height: 50px;

.nav {
    height: $nav-height;
    position: fixed;
    width: 100%;
    z-index: 10;
    transition: background-color 0.2s ease;
}

.navTop {
    background-color: transparent;
    border-bottom: none;
}

.navSticky {
    background-color: #242c38;
    border-bottom: 1px solid #303946;
}

.navContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: inherit;
}

.left {
    flex-grow: 1;
}

.right {
    flex-grow: 2;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.brand {
    font-weight: 500;
    font-size: 1.25rem;
    transition: all 0.3s ease;
}

.brand a, .brand a:hover, .brand a:focus, .brand a:active {
    color: inherit;
    text-decoration: none;
}

.brand:hover {
    transform: translateX(4px);
}

.links {
    color: #fff;
    line-height: 1em;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    margin-right: 3rem;
}

.link {
    flex-grow: 1;
    height: 100%;
}

.link a {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: auto;
    height: 100%;
    color: $color-text;
    font-size: 15px;
    font-weight: 400;
    padding: 0 10px;
    transition: all .3s;
    background: transparent;
    text-decoration: none;
    font-family: Rubik;
    font-weight: 400;
}

.link a:active, .link a:hover, .link a:focus {
    color: #fff;
}

.flags {
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.children {
    height: inherit;
}